<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zahem.cloud.dao.RolesUserMapper">
  <resultMap id="BaseResultMap" type="com.zahem.cloud.pojo.RolesUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roles_id" jdbcType="INTEGER" property="rolesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, roles_id, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roles_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from roles_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zahem.cloud.pojo.RolesUser" useGeneratedKeys="true">
    insert into roles_user (roles_id, user_id)
    values (#{rolesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zahem.cloud.pojo.RolesUser" useGeneratedKeys="true">
    insert into roles_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rolesId != null">
        roles_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rolesId != null">
        #{rolesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zahem.cloud.pojo.RolesUser">
    update roles_user
    <set>
      <if test="rolesId != null">
        roles_id = #{rolesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zahem.cloud.pojo.RolesUser">
    update roles_user
    set roles_id = #{rolesId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="addRolesUser" parameterType="map">
    INSERT INTO roles_user (ru_id,r_id,u_id) VALUES (null,2,LAST_INSERT_ID());
  </insert>
</mapper>